<a href="https://colab.research.google.com/github/aamya09/Python/blob/main/Assigment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
##TASK1

In [5]:
import pandas as pd

In [6]:
import numpy as np

In [8]:
d = {'NAME' : ['Aamya','Bhupinder','Chetan','Dhruv','Eenaya','Fateh','Gopal','Hemant','Ira','Jatin'],'AGE' : [20,21,19,np.nan,23,21,20,18,17,14],'GENDER' : ['F','F','M','M','F','M','M','M','F','M'],'Salary':[20000,20000,10000,30000,40000,50000,20000,5000,15000,20000],'Status':['Single','Married','Single','Married','Single','Married','Married','Single','Married','Single']}
d

{'NAME': ['Aamya',
  'Bhupinder',
  'Chetan',
  'Dhruv',
  'Eenaya',
  'Fateh',
  'Gopal',
  'Hemant',
  'Ira',
  'Jatin'],
 'AGE': [20, 21, 19, nan, 23, 21, 20, 18, 17, 14],
 'GENDER': ['F', 'F', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M'],
 'Salary': [20000,
  20000,
  10000,
  30000,
  40000,
  50000,
  20000,
  5000,
  15000,
  20000],
 'Status': ['Single',
  'Married',
  'Single',
  'Married',
  'Single',
  'Married',
  'Married',
  'Single',
  'Married',
  'Single']}

In [9]:
df=pd.DataFrame(d)

In [10]:
df

        NAME   AGE GENDER  Salary   Status
0      Aamya  20.0      F   20000   Single
1  Bhupinder  21.0      F   20000  Married
2     Chetan  19.0      M   10000   Single
3      Dhruv   NaN      M   30000  Married
4     Eenaya  23.0      F   40000   Single
5      Fateh  21.0      M   50000  Married
6      Gopal  20.0      M   20000  Married
7     Hemant  18.0      M    5000   Single
8        Ira  17.0      F   15000  Married
9      Jatin  14.0      M   20000   Single

In [15]:
##TASK2

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NAME    10 non-null     object
 1   AGE     9 non-null      float64
 2   GENDER  10 non-null     object
 3   Salary  10 non-null     int64
 4   Status  10 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes

In [16]:
##TASK3

In [17]:
df.describe()

             AGE        Salary
count   9.000000     10.000000
mean   19.222222  23000.000000
std     2.635231  13581.032525
min    14.000000   5000.000000
25%    18.000000  16250.000000
50%    20.000000  20000.000000
75%    21.000000  27500.000000
max    23.000000  50000.000000

In [18]:
##TASK4

In [14]:
df.iloc[4]  #iloc = shows the index location

NAME      Eenaya
AGE         23.0
GENDER         F
Salary     40000
Status    Single
Name: 4, dtype: object

In [19]:
##TASK5

In [20]:
df.isnull().any()

NAME      False
AGE        True
GENDER    False
Salary    False
Status    False
dtype: bool

In [22]:
df.AGE=df.AGE.fillna(df.AGE.median())  #Fills the empty space

In [23]:
df

        NAME   AGE GENDER  Salary   Status
0      Aamya  20.0      F   20000   Single
1  Bhupinder  21.0      F   20000  Married
2     Chetan  19.0      M   10000   Single
3      Dhruv  20.0      M   30000  Married
4     Eenaya  23.0      F   40000   Single
5      Fateh  21.0      M   50000  Married
6      Gopal  20.0      M   20000  Married
7     Hemant  18.0      M    5000   Single
8        Ira  17.0      F   15000  Married
9      Jatin  14.0      M   20000   Single